<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <title>Todo App</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css'%}?a={{ r }}">
</head>
<body>

  <div class="modal fade" id="modal-load" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <i class="fa fa-gear fa-spin"></i>&nbsp; Waiting for signin ...
            </div>
        </div>
    </div>
</div>

  <div class="modal fade" id="modal-ss" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitleId">Todo Added!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          The site has been added to our checklist. Now, any changes found in the site will be emailed to:<br>
          <div class="d-flex mt-2"><span class="rounded text-center btn-primary flex-fill p-1" id="user-email"> mbdfdm@gmail.com </span></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Okay</button>
        </div>
      </div>
    </div>
  </div>
  <main>

  <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
    <div class="logo-bar">
        <h3 class="text-white"><i class="fa fa-history"></i>  Todo App </h3>
    </div>
    <div class="user-bar">
        <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user" style="font-size: xx-large;" id="user-img-ph" alt="" width="32" height="32" class="rounded-circle me-2"></i>
          <img style="display: none;" id="user-img" alt="" width="32" height="32" class="rounded-circle me-2">
          &nbsp;&nbsp;&nbsp;<strong id="user-id">Signin</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <!-- <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><hr class="dropdown-divider"></li> -->
          <li>
            <a class="dropdown-item" style="display: none;" href="#" id="user-signout">Sign out</a>
            <a id="user-signin" class="dropdown-item" href="#" style="text-transform:none">
            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" />
            Signin
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <div class="todo-container">
      <div class="dsv text-white">
        <h3 id="form_heading" class="text-lg mb-3 font-bold">Add Todo</h3>
        <form id="todoForm" method="post">
          {% csrf_token %}
          {{ forms }}
          <input name="token" hidden value="" id="authToken" type="text"/>
          <div class="mt-3" style="display: flex; justify-content: space-around;"> 
            <input class="btn btn-primary"  id="btn-track" type="submit"></input>
            <input class="btn btn-secondary"  id="btn-reset" type="reset"></input>
          </div>
        </form>
        
      </div>
<br><br>

    <div class="card dsv text-white hist-bar-cnt hidden" style="padding: 0%; width: 60%; height: 100%;">

      <div class="load-bar" style="height: 100%;">
        <span style="height: 100%;" class="d-flex justify-items-center align-items-center">
        <i class="fa fa-2x fa-gear fa-spin text-white mx-auto" aria-hidden="true"></i>
        </span>
      </div>

      <div class="usr-hist-bar hidden" style="height: 100%; flex-direction: column;">
        <div class="card-header">
          Your Todo's
        </div>
        <div class="card-body">
          <ul class="list-group" id="usr-hist"></ul>
        </div>
        <div class="card-footer text-center" style="color: #afbdc9;">
          Made with 💖 by <a href="https://github.com/chethaslp" style="color: white;" target="_blank">@clp</a> for <a href="https://mulearn.org" style="color: white;" target="_blank">µLearn</a>
        </div>
      </div>
    </div>
    </div>

  </main>


  <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src= "{% static 'js/main.js' %}?a={{ r }}" type="module"></script>
  <script>
    function editTodo(tid){
      var todo = window.todos.find(obj => {return obj.tid === tid})
      console.log(todo)
      $("#form_heading").text("Edit Form")

      $("#id_title").val(todo.title).change();
      $("#id_details").val(todo.details).change();
      $("#id_status").val(todo.status).change();
      $("#id_end_date").val(todo.end_date).change();
    }
    function dltTodo(tid) {
      fetch(`/api/todo/${tid}/`, {
          method: "DELETE",
          headers: { 
            'X-Token': localStorage.getItem('token'),
            'X-CSRFToken': "{{ csrf_token }}"
          }
      }).then(()=> document.dispatchEvent(new CustomEvent("refreshTodos")))
    }

    $('#todoForm').submit(function (e) {
      if($("#form_heading").val() == "Edit Form"){

      }else{
        fetch('api/todo',{
        method:"POST",
        headers: { 
            'Content-Type':'application/x-www-form-urlencoded',
            'X-Token': localStorage.getItem('token'),
            'X-CSRFToken': "{{ csrf_token }}"
        },
        body: $('#todoForm').serialize()
      }).then((data)=>{
        if(data.ok){
          $('#todoForm').trigger('reset');
          document.dispatchEvent(new CustomEvent("refreshTodos"))
        }
      })
      }
      return false;
  });
  </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
</body>
</html>